<!-- extends -->
{% extends 'base.html' %}
<!-- block title -->
{% block title %}Login{% endblock %}
<!-- block content start-->
{% block content %}
<div
   class="container d-flex justify-content-center align-items-top"
   style="min-height: 100vh"
>
   <div class="col-md-6">
      <h1 class="text-center">Login</h1>

      <form
         method="POST"
         class="mt-4"
      >
         {{form.hidden_tag()}} {% for field in form if field.widget.input_type
         != 'hidden' %}
         <div class="mb-3">
            {{field.label}} {{field(class_="form-control")}}

            <!-- Error handling -->
            {% for error in field.errors %}
            <span class="form-text text-danger">{{error}}</span>
            {% endfor %}
            <!-- End error -->
         </div>
         {% endfor %}

         <div class="text-right">
            <button
               type="submit"
               class="btn btn-success"
            >
               Login
            </button>
         </div>
      </form>
   </div>
</div>

{% endblock %}
